html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body{
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

a{
  text-decoration: none;
  color: inherit;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  padding: 0;
}



.btn{
  border-radius: 6px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.white-btn{
  background: #FFFFFF;
  color: $main_color;
}
.btn-big{
  height: 52px;
}
.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}