html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body{
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

a{
  text-decoration: none;
  color: inherit;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}



.btn{
  border-radius: 6px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.white-btn{
  background: #FFFFFF;
  color: $main_color;
}
.dark-btn{
  background-color: $main_color;
  color: #FFFFFF;
}
.btn-big{
  height: 52px;
}
.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.container--mini{
  max-width: 830px;
}
.container--max{
  max-width: 1290px;
}
.page-section{
  padding: 100px 0;
}
.line{
  padding-top: 40px;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 42px;
    height: 8px;
    background-color: #E08631;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.line-left{
  &::before{
    left: 0;
    transform: translateX(0);
  }
}
.title{
  font-size: 32px;
  line-height: 36px;
  color: $main_color;
}