@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "normalize";




.header{
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: $main_color;
  min-height: 70px;
  color: #FFFFFF;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
  }
  &__menu-list{
    display: flex;
  }
  &__list-item{
    margin-left: 24px;
    &:first-child{
      margin-left: 0;
    }
  }
  &__list-item__link{
    font-size: 16px;
  }
  &__btn{
    padding: 11px 7px;
  }
  &__logo{
    height: 45px;
    width: 128px;
  }
}

.first-screen{
  min-height: 100vh;
  color: #FFFFFF;
  background-image: url('../images/first-screen-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  &__inner{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    position: relative;
  }
  &__title{
    padding: 0 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    margin-bottom: 33px;
  }
  &__subtitle{
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &__logo{
    width: 256px;
    height: 90px;
  }
  &__logo-box{
    margin-bottom: 37px;
  }
  &__button{
    position: absolute;
    bottom: 90px;
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
  }
}
.about{
  background-color: $bg_color;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__item-text{
    &--2{
      margin-bottom: 21px;
    }
  }
  &__item-button{
    padding: 11px 18px;
  }
}
.title-section{
  background-color: #fff;
  padding-bottom: 140px;
  &__title{
    color: $main_color;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    text-align: center;
  }
}
.image-section{
  max-height: 800px;
  min-height: 600px;
  background-size: cover;
  position: relative;
}
.image__item{
  background-color: rgba(#fff, 0.5);
  padding: 20px;
  border-radius: 5px;
  color: $text_color;
  position: absolute;
  width: 300px;
  right: 180px;
  top: 50%;
  transform: translateY(-50%);
  &-title{
    letter-spacing: 2px;
    padding-top: 18px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
}
.resting{
  background-color: $bg_color;
  &__top{
    text-align: center;
    margin-bottom: 32px;
  }
  &__title{
    margin-bottom: 12px;
  }
  &__text{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 347px;
    width: 100%;
    text-align: center;
  }
  &__item-img{
    display: block;
    margin-bottom: 12px;
    width: 64px;
    height: 64px;
  }
  &__item-title{
    font-size: 16px;
    line-height: 24px;
  }
  &__item-text{
    padding: 0 10px;
  }
}
.footer{
  color: #FFFFFF;
  background-color: $main_color;
  &__title{
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  &__logo{
    width: 200px;
    height: 70px;
    margin: 0 auto 20px;
  }
  &__logo-img{
    width: 200px;
    height: 70px;
  }
  &__bottom{
    text-align: center;
  }
  &__copy{
    margin-bottom: 20px;
  }
  &__nav-title{
    margin-bottom: 11px;
  }
  &__nav-item{
    margin-bottom: 12px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__social-title{
    margin-bottom: 20px;
  }
  &__social-list{
    display: flex;
    justify-content: space-between;
  }
  &__form-title{
    margin-bottom: 1px;
  }
  &__form-input{
    width: 100%;
    display: block;
    padding: 16px 120px 16px 30px;
    outline: none;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    &::placeholder{
      color: $main_color;
      font-size: 14px;
      line-height: 20px;
      text-transform: capitalize;
    }
  }
  &__form{
    position: relative;
  }
  &__form-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    right: 7px;
  }
  &__nav{
    flex-basis: 280px;
    margin-right: 16px;
    flex-shrink: 4;
  }
  &__social-inner{
    flex-basis: 280px;
    display: flex;
    margin-right: 16px;
    flex-shrink: 2;
  }
  &__form-inner{
    flex-basis: 560px;
    flex-grow: 1;
  }
  &__form-text{
    margin-bottom: 10px;
  }
}
.escape{
  background-color: #fff;
  &__inner{
    padding: 0 16px;
  }
  &__top{
    margin-bottom: 30px;
    max-width: 600px;
  }
  &__title{
    margin-bottom: 12px;
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item{
    display: flex;
    max-width: 568px;
    width: 100%;
    margin-bottom: 32px;
    &:nth-child(7), &:nth-child(8){
      margin-bottom: 0;
    }
  }
  &__item-img{
    display: block;
    margin-right: 17px;
    width: 36px;
    height: 36px;
  }
  &__item-title{
    color: $main_color;
  }
  &__item-text{
    color: $text_color;
  }
}
.together{
  background-color: #fff;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__items{
    max-width: 552px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item{
    max-width: 263px;
    width: 100%;
    display: flex;
    height: 67px;
    margin-bottom: 32px;
    &:nth-child(3), &:nth-child(4){
      margin-bottom: 0;
    }
  }
  &__item-img{
    width: 36px;
    height: 36px;
    margin-right: 16px;
  }
  &__right{
    max-width: 552px;
  }
  &__title{
    margin-bottom: 12px;
  }
}
.book{
  background-color: $bg_color;
  &__inner{
    text-align: center;
  }
  &__title{
    margin-bottom: 15px;
  }
  &__text{
    padding: 0 50px;
    margin-bottom: 20px;
  }
  &__btn-box{
    display: flex;
    justify-content: center;
  }
  &__btn{
    margin-right: 24px;
    width: 180px;
    border: 4px solid $main_color;
    padding-top: 16px;
    padding-bottom: 16px;
    color: $main_color;
    background-color: transparent;
    height: 52px;
    transition: all .5s;
    &:hover{
      background-color: $main_color;
      color: #FFFFFF;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}
.slider-section{
  overflow-x: hidden;
  padding: 100px 0 70px;
  background-color: $bg_color;
  &__inner{
    text-align: center;
  }
  &__title{
    margin-bottom: 12px;
  }
  &__top{
    text-align: center;
    max-width: 575px;
    margin: 0 auto 32px;
  }
}
.slider{
  &__content{
    display: flex;
    align-items: flex-start;
  }
  &__content-inner{
    overflow-x: hidden;
    width: 100%;
  }
}
.slider__item{
  flex-basis: 584px;
  flex-shrink: 0;
  padding: 31px;
  background-color: #fff;
  text-align: left;
  color: $text_color;
  margin-right: 20px;
  &:last-child{
    margin-right: 0;
  }
  &-rate{
    margin-bottom: 10px;
    img{
      width: 18px;
      height: 18px;
    }
  }
  &-title{
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 24px;
  }
  &-text{
    margin-bottom: 20px;
  }
  &-author{
    position: relative;
    padding-left: 12px;
    &::before{
      content: '';
      position: absolute;
      width: 2px;
      background-color: #E08631;
      height: 20px;
      top: 0;
      left: 0;
    }
  }
}



@import "media";