@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "normalize";




.header{
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: $main_color;
  min-height: 70px;
  color: #FFFFFF;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
  }
  &__menu-list{
    display: flex;
  }
  &__list-item{
    margin-left: 24px;
    &:first-child{
      margin-left: 0;
    }
  }
  &__list-item__link{
    font-size: 16px;
  }
  &__btn{
    padding: 11px 7px;
  }
  &__logo{
    height: 45px;
    width: 128px;
  }
}

.first-screen{
  min-height: 100vh;
  color: #FFFFFF;
  background-image: url('../images/first-screen-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  &__inner{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    position: relative;
  }
  &__title{
    padding: 0 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    margin-bottom: 33px;
  }
  &__subtitle{
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &__logo{
    width: 256px;
    height: 90px;
  }
  &__logo-box{
    margin-bottom: 37px;
  }
  &__button{
    position: absolute;
    bottom: 90px;
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
  }
}
.about{
  background-color: $bg_color;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__item-text{
    &--2{
      margin-bottom: 21px;
    }
  }
  &__item-button{
    padding: 11px 18px;
  }
}


@import "media";