@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "normalize";




.header{
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: $main_color;
  min-height: 70px;
  color: #FFFFFF;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
  }
  &__menu-list{
    display: flex;
  }
  &__list-item{
    margin-left: 24px;
    &:first-child{
      margin-left: 0;
    }
  }
  &__list-item__link{
    font-size: 16px;
  }
  &__btn{
    padding: 11px 7px;
  }
  &__logo{
    height: 45px;
    width: 128px;
  }
}

.first-screen{
  min-height: 100vh;
  color: #FFFFFF;
  background-image: url('../images/first-screen-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  &__inner{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    position: relative;
  }
  &__title{
    padding: 0 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    margin-bottom: 33px;
  }
  &__subtitle{
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &__logo{
    width: 256px;
    height: 90px;
  }
  &__logo-box{
    margin-bottom: 37px;
  }
  &__button{
    position: absolute;
    bottom: 90px;
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
  }
}
.about{
  background-color: $bg_color;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__item-text{
    &--2{
      margin-bottom: 21px;
    }
  }
  &__item-button{
    padding: 11px 18px;
  }
}
.title-section{
  background-color: #fff;
  padding-bottom: 140px;
  &__title{
    color: $main_color;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    text-align: center;
  }
}
.image-section{
  max-height: 800px;
  min-height: 600px;
  background-size: cover;
  position: relative;
}
.image__item{
  background-color: rgba(#fff, 0.5);
  padding: 20px;
  border-radius: 5px;
  color: $text_color;
  position: absolute;
  width: 300px;
  right: 180px;
  top: 50%;
  transform: translateY(-50%);
  &-title{
    letter-spacing: 2px;
    padding-top: 18px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
}
.resting{
  background-color: $bg_color;
  &__top{
    text-align: center;
    margin-bottom: 32px;
  }
  &__title{
    margin-bottom: 12px;
  }
  &__text{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 347px;
    width: 100%;
    text-align: center;
  }
  &__item-img{
    display: block;
    margin-bottom: 12px;
    width: 64px;
    height: 64px;
  }
  &__item-title{
    font-size: 16px;
    line-height: 24px;
  }
  &__item-text{
    padding: 0 10px;
  }
}
.footer{
  color: #FFFFFF;
  background-color: $main_color;
  &__title{
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  &__logo{
    width: 200px;
    height: 70px;
    margin: 0 auto 20px;
  }
  &__logo-img{
    width: 200px;
    height: 70px;
  }
  &__bottom{
    text-align: center;
  }
  &__copy{
    margin-bottom: 20px;
  }
}

@import "media";